@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap");
:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --red: hsl(1, 100%, 50%);
  --grey: hsl(240, 3%, 94%);
  --grey2: hsl(211, 12%, 48%);
  --white: hsl(0, 0%, 100%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Red Hat Text", sans-serif; }

.container {
  background-image: linear-gradient(to bottom, var(--grey2), var(--grey));
  min-height: 100vh; }

.counter-wrapper {
  height: 80vh; }

.counter-wrapper .counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.counter-wrapper .header {
  color: var(--white);
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 3px;
  font-weight: 500;
  word-spacing: 4px;
  margin-bottom: 8rem;
  text-transform: uppercase; }

.counter-wrapper .count {
  color: var(--red);
  display: flex;
  justify-content: center;
  gap: 2.5rem; }

.counter-wrapper .count .sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.counter-wrapper .count .sec h2 {
  color: var(--soft-red);
  font-size: 8rem;
  background: var(--white);
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem; }

.counter-wrapper .count .sec p {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px; }

.social-icons .icons {
  display: flex;
  margin: 0 auto; }

.social-icons .icons .icon {
  list-style: none;
  margin: 1rem; }

.social-icons .icons .icon .icon-link {
  text-decoration: none;
  color: var(--grayish-blue);
  transition: color 300ms ease; }

.social-icons .icons .icon .icon-link i {
  font-size: 2.4rem; }

.social-icons .icons .icon .icon-link:hover {
  color: var(--red); }

@media (max-width: 900px) {
  html {
    font-size: 8px; } }

@media (max-width: 600px) {
  html {
    font-size: 6px; } }

@media (max-width: 450px) {
  html {
    font-size: 4px; } }
